<%= form_for @question do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title, :class => 'input-block-level' %>

	<%= f.label :content %>
	<div class="epiceditor" data-sync-with="#question_content"></div>
	<%= f.text_area :content, :class => 'hide' %>

	<%= f.label :tags_string %>
	<%= f.text_field :tags_string%>

	<%= f.submit 'Create Question', :class => 'pull-right submit-without-container btn btn-large btn-primary' %>
<% end %>