<%= render "new_question_button" %>
<div class="row">
	<div class="span9">
		<%= render @questions %>
		<%= paginate @questions %>
	</div>
	<div class="span3">
		<%= render "shared/tags_list" %>
		<%= render "shared/activity_feed" %>
	</div>
</div>
