<%= form_for [:users, @notification_rule], :html => {:class => 'form-inline'} do |f| %>
	<%= f.label :class_name %>
	<%= f.select :class_name, class_name_options_for_select %>

	<%= f.label :action %>
	<%= f.select :action, action_options_for_select %>

	<%= f.label :reactor_name %>
	<%= f.collection_select :reactor_name, Inquest::Reactor.subclasses, :name, :reaction_description %>

	<div class="form-actions">
		<%= f.submit 'Save Notification', :class => 'btn btn-primary' %>
	</div>
<% end %>