<%= content_tag :div, :class => 'notification-rule alert alert-success' do %>
	<p class="pull-left">
	When <strong><%= notification_rule.notifier_class.pluralize %></strong> are <strong><%= notification_rule.action.gsub(/[e|ed]*\Z/, '') + 'ed' %></strong>, <strong><%= notification_rule.reactor.reaction_description %></strong>.
</p>

	<%= button_to "&times;".html_safe, users_notification_rule_path(notification_rule), :method => :delete, :confirm => 'Are you sure you no longer want to receive notifications matching this rule?', :class => 'close pull-right' %>
<% end %>