<!DOCTYPE html>
<html>
<head>
  <title>Inquest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<%= link_to 'InQuest', root_path, :class => 'brand' %>
		<%= render "shared/current_user", :user => current_user %>
		</div>
	</div>
</div>

<div class="container-fluid">
	<%= yield %>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
