<!DOCTYPE html>
<html>
<head>
  <title>Inquest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="login">
	<div class="container">
		<div class="row">
	<div class="span6 offset3">
		<div class="wide-but-centered">
			<h1 class="brand large">InQuest</h1>
			<%= render "shared/flash_messages" %>
			<%= yield %>
		</div>
	</div>
</div>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
